<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/widgets.css">

  <script>
    /** @global retrieves env from localStorage (set by caller)
     *  @borrows API_SERVER
     *  @borrows ENTRIES_ENDPOINT
     */
    window.env = JSON.parse(localStorage.getItem('env'));
  </script>
</head>

<body class="widget">
  <div id="select-container" class="content-container">
    <select id="selector" size="2"></select>
  </div>
  <form id="buttons" class="buttons-container">
    <br>
    <input type="file" name="upload" value="upload" accept="application/json">
    <button type="button" name="close" hidden>close file</button>
    <span id="upload-label"></span>
  </form>

  <script type="module">
    import idb from '/scripts/idb.js';
    import StorageProxy from '/scripts/storage-proxy.js';

    window.buffer = new StorageProxy('buffer');
    window.entries = await idb.app.getAll('entries');

    const selectContainer = document.getElementById('select-container');
    const selector = document.getElementById('selector');
    selector.store = 'entries';

    entries.forEach(entry => {
      const option = document.createElement('option');
      option.textContent = option.id = entry.id;
      selector.add(option);
    });

    // <select> element event handlers
    selectContainer.onchange = async (event) => {
      const id = event.target.value;
      const store = event.target.store;
      const entry = await idb.app.get(store, id);

      localStorage.setItem('buffer', JSON.stringify(entry));
      buffer = new StorageProxy('buffer');
    };

    selectContainer.ondblclick = () => {
      if (buffer.url) window.open(buffer.url);
    };

    selectContainer.onkeydown = (event) => {
      if (event.key !== 'Enter') return;
      if (buffer.url) window.open(buffer.url);
    };

    // select buffered entry on storage
    window.onstorage = (event) => {
      if (event.key !== 'buffer') return;

      buffer = new StorageProxy('buffer');
      selector.value = buffer.id;
    };

    // keybindings
    selectContainer.addEventListener('keydown', event => {
      if (event.key === 'Delete') {
        buttons.DELETE.dispatchEvent(new PointerEvent('click'));
      }
    });

    // file upload
    buttons.upload.onchange = function (event) {
      const reader = new FileReader();
      const file = this.files[0];

      reader.readAsText(file);

      reader.onload = async () => {
        const uploadEntries = JSON.parse(reader.result);
        const tx = idb.app.transaction('upload', 'readwrite');

        await Promise.all(
          uploadEntries.map((entry) => tx.store.put(entry)),
          tx.done
        );

        const uploadSelector = document.createElement('select');
        uploadSelector.size = 2;
        uploadSelector.store = 'upload';

        uploadEntries.forEach((entry) => {
          const option = document.createElement('option');
          option.textContent = option.id = entry.id;
          uploadSelector.add(option);
        });

        selector.replaceWith(uploadSelector);

        buttons.upload.hidden = true;
        buttons.close.hidden = false;
        window.parent.document.getElementById('buttons').DELETE.disabled = true;
        buttons.close.textContent = `close file (${file.name})`;

        buttons.close.addEventListener('click', function handler() {
          uploadSelector.replaceWith(selector);
          idb.app.clear('upload');

          buttons.upload.value = '';
          buttons.upload.hidden = false;
          buttons.close.hidden = true;
          window.parent.document.getElementById('buttons').DELETE.disabled = false;

          buttons.close.removeEventListener('click', handler);
        });
      };
    };
  </script>
</body>

</html>