table {
  border-collapse: collapse;
  margin: 1rem, auto;
}

table th,
table td {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;

  padding: 0.5rem 0.25rem;
}

table th {
  border-bottom-width: 2px;
}

form.buttons {
  display: inline-block;
  text-align: center;
}

.buttons fieldset {
  display: inline-grid;
  font-size: 10pt;
}

.buttons fieldset legend {
  margin: auto; /* centers legend */
  font-size: 12pt;
}
